DATABASE_URL="file:./prisma/dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="devsecret_change_me"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_POSTHOG_KEY="ph_dummy_key"
NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"
